Setting up python:
1. Install Anaconda
2. Install git (if it is not there already) : https://github.com/git-guides/install-git
3. Download the GitHub repository for the class into a directory that you will use for the class.
% git clone https://github.com/benholtzman/datamovies_y21.git
4. use Conda to create an environment for the class:
In the terminal, go to the directory and you will now create a python environment for the class
with all the python packages that we’ll be using.
(To understand more about what this is doing:
https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html. )
There is a “.yml” file in the directory called “make_datamovies_env.yml”
You can run it with this command and it will create and setup the environment and its
dependencies:
% conda env create -f make_datamovies_env.yml
That will take a little while and there will be lots of action in the window...
5. Now to activate the environment and start using the notebooks, there are two ways:
a. In the terminal type:
% conda activate PytorchTut
then Install pytorch and dependancies:
conda install pytorch torchvision torchaudio cpuonly -c pytorch
Then
Start Jupiter lab:
% jupyterlab
OR
b. Go to your applications and open the Anaconda Navigator, and you’ll see a list of
environments on the main page.. pick datamovies from the list and it should have Jupyterlab
already installed. Launch that!
And open the first notebook !
6. When we update codes, we’ll tell you a command to run that looks like
% git checkout [name_of_notebook]